---
# Front matter comment to ensure Jekyll properly reads file.
---

$light: #F3F3F3;
$medium: #ccc;
$accent: #7f1734;

html {
	font-family: -apple-system,sans-serif;
	padding: 1rem;
	max-width: 800px;
	margin: 0 auto;
}

article {
	padding: 0.2rem;

	&:nth-of-type(2) {
		background-color: $light;
	}
}

nav {
	ul {
		li {
			list-style-type: none;
			float: right;
			padding: 1rem;
		}
	}

	@extend %clearfix;
}


%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

footer, .date {
	color: $medium;
	font-size: 0.8rem;
}

img {
	max-width: 100%;
	margin: 0 auto;
}

a {
	color: $accent;
	text-decoration: none;
	transition: border 0.4s ease;

	&:hover {
		border-bottom: 2px solid $accent;
	}
}

h3 {
	margin: 0.5rem 0;
}
