---
# Front matter comment to ensure Jekyll properly reads file.
---

$light: #F3F3F3;
$medium: #ccc;

html {
	font-family: -apple-system,sans-serif;
	padding: 1rem;
	max-width: 800px;
	margin: 0 auto;
}

article {
	padding: 0.2rem;

	&:nth-of-type(2) {
		background-color: $light;
	}
}

nav {
	ul {
		li {
			list-style-type: none;
			float: right;
			padding: 1rem;
		}
	}

	@extend %clearfix;
}


%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

footer {
	color: $medium;
	font-size: 0.8rem;
}

img {
	max-width: 100%;
	margin: 0 auto;
}
