---
# Front matter comment to ensure Jekyll properly reads file.
---

$light: #F3F3F3;
$medium: #ccc;
$accent: #7f1734;
$text: #000;

html {
	font-family: -apple-system,sans-serif;
	padding: 1rem;
	max-width: 800px;
	margin: 0 auto;
}

article {
	padding: 0.2em;

	&:nth-of-type(2) {
		@extend %shaded;
	}
}

nav {
	li {
		list-style-type: none;
		float: right;
		padding: 1em;
	}
	@extend %clearfix;
}


%clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

%shaded {
	background-color: $light;
	border-radius: 2px;
	padding: 2px;
}

footer, .date {
	color: $medium;
	font-size: 0.8em;
}

code {
	font-family: Monaco, monospace;
	@extend %shaded;
}

img,iframe {
	max-width: 100%;
	margin: 0 auto;
}

a {
	color: $accent;
	text-decoration: none;
	transition: border 0.4s ease;
	border-bottom: 2px solid transparentize($accent, 1);

	&:hover {
		border-bottom: 2px solid $accent;
	}

	&.invisible {
		color: $text;
		border-bottom: none;
		transition: none;
	}
}

.ext::after {
	content: '';
	display: inline-block;
	height: .7em;
	width: .7em;
	background: {
		image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewbox='100 100 100 100' width='100' height='100'><path fill='%23FFF' stroke='"+$accent+"' stroke-width='10' d='m43,35H5v60h60V57M45,5v10l10,10-30,30 20,20 30-30 10,10h10V5z'/></svg>");
		repeat: no-repeat;
		size: contain;
	}
	margin-left: 2px;
}

h3 {
	margin: 0.5em 0;
}
