<!DOCTYPE html>
<!--
	Trip through Belgium
	@author Haroen Viaene
 -->
<html lang="en">
<head>
	<title> {{ page.title }} | Haroen </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="theme-color" content="#7f1734">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	<link rel="icon" href="/apple-touch-icon.png">
	<meta name="description" content="Haroen's trip through Belgium." />
	<meta name="author" content="Haroen Viaene" />
	<!-- <link rel="stylesheet" href="/style.css" /> -->
	<link rel="stylesheet" href="/trip/style.css" />
	<link rel="icon" type="image/png" href="/favicon.png" />
	<meta property="twitter:author" content="@haroenv">
	<meta property="og:title" content="Haroen Viaene" />
	<meta name="og:description" content="Haroen's trip through Belgium" />
</head>
<body>

<header>
	<h1><a href="/trip">Trip</a> | {{ page.title }}</h1>
	<nav>
		<ul>
			<li><a href="/trip/">Home</a></li>
			<li><a href="/" class="ext">About Me</a></li>
		</ul>
	</nav>
</header>
