<!DOCTYPE html>
<!--
	Trip through Belgium
	@author Haroen Viaene
 -->
<html lang="en">
<head>
	<title> {{ page.title }} | Haroen </title>
	<meta charset="utf-8" />

	<!-- saying that the browser doesn't need to rescale on mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes" />
	<!-- status bar in transparent/colour -->
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="theme-color" content="#7f1734">
	<!-- homescreen icon -->
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	<link rel="icon" href="/apple-touch-icon.png">
	<!-- windows 8 tiles -->
	<meta name="application-name" content="{% if page.title %} {{ page.title }} &ndash; {% endif %} Haroen Viaene"/>

	<!-- SEO, displaying results -->
	<meta name="description" content="Haroen's trip through Belgium." />
	<meta name="author" content="Haroen Viaene" />

	<!-- linking your CSS -->
	<link rel="stylesheet" href="/trip/src/style.css" />

	<!-- favicon is best linked in your html too -->
	<link rel="icon" type="image/png" href="/favicon.png" />
	<!-- title and author -->
	<meta property="og:title" content="Haroen Viaene" />
	<meta property="article:author" content="Haroen Viaene"> <!-- might be redundant -->
	<!-- description -->
	<meta name="og:description" content="Haroen's trip through Belgium" />
</head>

<header>
	<h1>  {{ page.title }}  </h1>
	<nav>
		<ul>
			<li><a href="/trip/">Home</a></li>
			<li><a href="/">About Me</a></li>
		</ul>
	</nav>
</header>
